body {
    background-image: url(https://image.shutterstock.com/image-photo/bright-colors-dawn-on-beach-260nw-1288885015.jpg);
    background-position: center center ; 
    background-size: cover;
    background-attachment: fixed;
}
#siteName{
    font-size: 100px;
    text-align: center;
    font-style: italic;
    -webkit-text-fill-color: Black;
  }

  img {
    border-radius: 50%;
    align-content: left;
  }
